{% extends 'main/layoute.html' %}
    {% block title %}
    <title>Обо мне</title>
    {% endblock %}

{% block content %}
 <section>
        <h1>Обо мне</h1>
        <p>
            Привет! Меня зовут <strong>Владимир</strong>, и я — профессиональный разработчик приложений на Python. Создаю современные, масштабируемые и эффективные решения для веб-приложений, API и автоматизации процессов. Мой опыт включает работу с такими технологиями, как <strong>Django</strong>, <strong>Flask</strong>, <strong>FastAPI</strong>, а также интеграцию с базами данных (<strong>PostgreSQL</strong>, <strong>MySQL</strong>) и облачными сервисами (<strong>AWS</strong>, <strong>Google Cloud</strong>).
        </p>
        <p>
            Я постоянно совершенствую свои навыки, слежу за новыми трендами в разработке и активно участвую в open-source проектах. Мои работы включают как корпоративные решения, так и стартапы, которые помогают бизнесу расти и развиваться.
        </p>
        <p>
            Если у вас есть интересные проекты или вы хотите обсудить сотрудничество, буду рад услышать от вас!
        </p>
 </section>
{% endblock %}