{% extends 'main/layoute.html' %}
    {% block title %}
    <title>Контакты</title>
    {% endblock %}

{% block content %}
<section>
        <h2>Контакты</h2>
        <ul>
            <li><strong>Email:</strong> <a href="mailto:vl.developer@example.com">vl.developer@example.com</a></li>
            <li><strong>Телефон:</strong> <a href="tel:+79123456789">+7 (912) 345-67-89</a></li>
            <li><strong>GitHub:</strong> <a href="https://github.com/vl-python-dev" target="_blank">github.com/vl-python-dev</a></li>
            <li><strong>LinkedIn:</strong> <a href="https://linkedin.com/in/vl-python-dev" target="_blank">linkedin.com/in/vl-python-dev</a></li>
        </ul>
    </section>
    </article>

{% endblock %}