{% extends 'main/layoute.html' %}
    {% block title %}
    <title>{{title}}</title>
    {% endblock %}

{% block content %}

<h1 class="text-center mt-4">Добро пожаловать в мой проект на Django!</h1>

<p class="mt-3">Django — это мощный фреймворк для веб-разработки на Python. Он позволяет быстро создавать современные веб-приложения.</p>

<p>В этом проекте я изучаю основы Django, включая:</p>

<ul>
    <li>Настройку среды разработки</li>
    <li>Создание моделей и базы данных</li>
    <li>Работу с представлениями (views)</li>
    <li>Использование шаблонов (templates)</li>
    <li>Создание маршрутов (urls)</li>
</ul>

<p>Этот сайт состоит из нескольких страниц, где я экспериментирую с разными возможностями Django.</p>

<p>Научившись работать с Django, можно создавать мощные и масштабируемые веб-приложения, такие как блоги, интернет-магазины и даже социальные сети.</p>

<p class="fw-bold">Спасибо за внимание! Удачи в изучении Django! 🚀</p>


{% endblock %}
