{% extends 'main/layoute.html' %}
    {% block title %}
    <title>Добавить новость</title>
    {% endblock %}

{% block content %}

<h1>Страница для добавления нововстей</h1>

<h2 class="mb-4 text-center">Добавить новость</h2>

    <form method="post" class="p-4 border rounded shadow bg-light">
        {% csrf_token %}
        <div class="mb-3">

            {{ form.title }}
        </div>

        <div class="mb-3">

            {{ form.short_description }}
        </div>

        <div class="mb-3">

            {{ form.text }}
        </div>

        <div class="mb-3">

            {{ form.pub_date }}
        </div>

        <div class="mb-3">

            {{ form.autor }}
        </div>

        <button type="submit" class="btn btn-primary w-100">Добавить новость</button>
    </form>

{{error}}


{% endblock %}