{% extends 'main/layoute.html' %}
    {% block title %}
    <title>Добавить новость</title>
    {% endblock %}

{% block content %}

<h1>Страница для добавления нововстей</h1>
<h2 class="mb-4 text-center">Добавить новость</h2>

    <form method="post" class="p-4 border rounded shadow bg-light">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Заголовок новости</label>
            <input type="text" class="form-control" placeholder="Введите заголовок">
        </div>

        <div class="mb-3">
            <label class="form-label">Краткое описание</label>
            <input type="text" class="form-control" placeholder="Введите краткое описание">
        </div>

        <div class="mb-3">
            <label class="form-label">Текст новости</label>
            <textarea class="form-control" rows="4" placeholder="Введите текст новости"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">Дата публикации</label>
            <input type="date" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">Время публикации</label>
            <input type="time" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary w-100">Добавить новость</button>
    </form>


{% endblock %}